::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grayish-blue);
  border-radius: 1px;
}

.body{
  position: relative;
}

.info-container {
  overflow: hidden;
  position: fixed;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: min-content;
  font-size: 0.8rem;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.alert-box {
  overflow: hidden;
  width: fit-content;
  max-width: max-content;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0.3rem;
  background-color: var(--light-grayish-blue);
}

.alert-box .icon {
  width: fit-content;
  height: 100%;
  padding: 15px 10px;
  margin: 0;
  border-radius: 0.3rem;
  background-color: var(--moderate-blue);
}

.alert-box p {
  font-family: "Cascadia", Courier, monospace;
  padding: 9px 9px 9px 0;
}

.alert-box p em.bold {
  color: var(--moderate-blue);
  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Cascadia", Courier, monospace;
}

nav {
  width: 100%;
  height: 3rem;
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 5;
}

.usertoggle-comp {
  align-self: flex-end;
  position: relative;
}

.usertoggle-comp button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
}

.usertoggle-comp button picture img {
  border-radius: 50%;
  width: 2.2rem;
}

.usertoggle-comp button picture img:active {
  border: 2px solid var(--moderate-blue);
  outline: 3px solid var(--light-grayish-blue);
}

.usertoggle-comp .users {
  width: fit-content;
  position: absolute;
  z-index: 4;
  right: -0.1rem;
  display: flex;
  padding: 1rem 1.3rem;
  background-color: var(--opaq);
  backdrop-filter: blur(3px);
  border-radius: 0 0 0.5rem 0.5rem;
  transform-origin: top;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.15);
}

.users picture {
  width: 2.5rem;
}

.users picture img {
  cursor: pointer;
  width: 2.8rem;
  border-radius: 50%;
  outline: 3px solid var(--white);
  filter: grayscale(70%);
  opacity: 0.8;
  transform: scale(0.8);
  transition: all 0.5s ease;
}

.users .current-user {
  filter: none;
  opacity: 1;
  border: 2px solid var(--moderate-blue);
  outline: 3px solid var(--light-grayish-blue);
  transform: scale(1);
}

.comments-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 1rem auto;
}

.reply-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-radius: 0;
  border-left: 1.5px solid rgba(103, 114, 126, 0.3);
}

.comment-box,
.reply-box {
  width: 100%;
  padding: 0.8rem 0.9rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  border-radius: 0.3rem;
  background-color: var(--white);
}

.comment-box {
  margin: 0 auto;
  border-radius: 0.3rem 0.3rem 0.3rem 0;
  border-right: 1.5px solid rgba(103, 114, 126, 0.3);
  border-bottom: 1.5px solid rgba(103, 114, 126, 0.3);
}

.reply-box:first-of-type {
  margin: 1rem auto 0 1rem;
  padding-bottom: 1rem;
  border-top: none;
  border-bottom: 1.5px solid rgba(103, 114, 126, 0.3);
}

.reply-box {
  margin: 0 0 0 1rem;
  padding-bottom: 1rem;
  border-top: none;
  border-right: 1.5px solid rgba(103, 114, 126, 0.3);
  border-bottom: 1.5px solid rgba(103, 114, 126, 0.3);
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  grid-area: 1 / 1 / span 2 / span 4;
}

.user-details img {
  width: 2rem;
}

.user-details .user-badge span {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  color: var(--white);
  background-color: var(--moderate-blue);
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
}

.timestamp {
  color: var(--grayish-blue);
}

.comment {
  color: var(--grayish-blue);
  grid-area: 3 / 1 / span 1 / span 4;
}

.comment .replying-to {
  color: var(--moderate-blue);
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  grid-area: 4 / 4 / span 1 / span 1;
}

.actions span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.reply,
.edit {
  color: var(--moderate-blue);
}

.delete {
  color: var(--soft-red);
}

.reply:hover,
.edit:hover,
.delete:hover {
  cursor: pointer;
  opacity: 0.5;
}

.votes {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  grid-area: 4 / 1 / span 1 / span 1;
  background-color: var(--light-gray);
}

.votes :where(.plus, .minus) {
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--moderate-blue);
}

.voted {
  filter: saturate(100);
}

.votes p {
  color: var(--moderate-blue);
  font-size: 1.1rem;
  font-weight: 600;
}

.input-box,
.reply-input-box,
.edit-input-box {
  width: 100%;
  padding: 1rem;
  margin: auto 0 0;
  display: grid;
  grid-gap: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  position: sticky;
  bottom: 0;
  z-index: 5;
  transition: all 0.3s ease;
}

.input-box {
  width: auto;
  margin: auto 1rem;
  background-color: var(--white);
  backdrop-filter: blur(4px);
  border-top: 4px solid var(--light-gray);
}

.is-sticky {
  width: 100%;
  margin: auto;
  border-top: 4px solid var(--light-gray);
  border-radius: 1rem 1rem 0 0;
  background-color: var(--opaq);
  backdrop-filter: blur(4px);
}

.input-box div.infoText {
  width: 100%;
  font-size: 0.9rem;
  color: var(--grayish-blue);
  grid-area: 1 / 1 / span 1 / span 4;
}

.input-box picture {
  grid-area: 3 / 1 / span 1 / span 1;
}

.input-box picture img {
  width: 2rem;
}

:is(.input-box, .reply-input-box, .edit-input-box) textarea {
  width: 100%;
  height: 46px;
  resize: none;
  border: 1px solid var(--light-gray);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  font-family: Rubik, sans-serif;
  grid-area: 2 / 1 / span 1 / span 4;
  transition: all 0.5s ease;
}

:is(.input-box, .reply-input-box, .edit-input-box) textarea:focus {
  border: 1px solid var(--moderate-blue);
  outline: 2px solid var(--light-grayish-blue);
}

:is(.input-box, .reply-input-box, .edit-input-box) button {
  width: 6rem;
  height: 2.7rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--moderate-blue);
  justify-self: end;
  grid-area: 3 / 4 / span 1 / span 1;
}

button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.input-box.is-sticky textarea {
  height: 46px;
}

.reply-input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.7rem;
  margin: 0.5rem auto auto;
  position: static;
  z-index: 1;
}

.reply-container .reply-input-box {
  margin: 0.7rem 0 auto 1rem;
}

.edit-input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.7rem;
  padding: 0;
  margin: auto 0 0;
  position: static;
  z-index: 1;
}

:is(.reply-input-box, .edit-input-box) picture img {
  width: 2rem;
}

:is(.reply-input-box, .edit-input-box) textarea {
  width: 100%;
  height: auto;
  resize: none;
  border: 1px solid var(--light-gray);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  font-family: Rubik, sans-serif;
  transition: all 0.5s ease;
}

:is(.reply-input-box, .edit-input-box) button {
  cursor: pointer;
  padding: 0.8rem 1rem;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.2rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--moderate-blue);
}

.modal-container {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
}

.modal-box header {
  font-size: 1.2rem;
  font-weight: 600;
}

.modal-box p.info {
  color: var(--grayish-blue);
}

.modal-box .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btns button {
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btns button:hover {
  opacity: 0.5;
}

.btns button:first-of-type {
  background-color: var(--grayish-blue);
}

.btns button:last-of-type {
  background-color: var(--soft-red);
}

.loader{
  width: 100vw;
  height: 100vh;
  padding: 11rem 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  backdrop-filter: blur(5px);
}

.profile-page {
  width: 100%;
  height: 100vh;
    display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-page .cover-bg {
  position: relative;
  width: 100vw;
  height: 9.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-blend-mode: luminosity;
  border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cover-bg .prev-page {
  color: var(--light-grayish-blue);
  display: flex;
  gap: 0.3rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
   mix-blend-mode: difference;
}

.prev-page svg{
  transform: scale(4);
}

.cover-bg picture{
  position: absolute;
  top: 6.7rem;
  left: 50%;
  translate: -50%;
   mix-blend-mode: normal;
   border-radius: 50%;
   border: .3rem solid var(--light-gray);
}

.cover-bg picture img{
  width: 5rem;
  height: 5rem;
  z-index: 1;
  mix-blend-mode: luminosity;
  opacity: 1;
  overflow: hidden;
  -webkit-filter: contrast(1.1);
  filter: contrast(1.1);
}

.fade-in-top-one {
  animation: fade-in-top-one 0.5s ease-in-out both;
}

.fade-in-bottom-one {
  animation: fade-in-bottom-one 0.5s ease-in-out both;
}

.fade-in-top {
  animation: fade-in-top 0.5s ease-in-out both;
}

.fade-in-bottom {
  animation: fade-in-bottom 0.5s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-top-one {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom-one {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 769px) {
  body {
    padding: 4rem 0 0.5rem;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 100%;
    left: 0;
    right: 0;
  }

  .usertoggle-comp .users {
    position: absolute;
    right: -0.1rem;
    flex-direction: column;
    padding: 1rem 1.5rem;
  }

  .usertoggle-comp .users picture img {
    margin-top: -0.9rem;
  }

  .usertoggle-comp .users picture:nth-child(1) {
    margin-top: 1rem;
  }

  .comments-container {
    width: 43rem;
  }

  .reply-container {
    width: 41rem;
    margin-left: 1.5rem;
  }

  .reply-container .reply-input-box {
    margin: 0.7rem 0 auto 1.5rem;
  }

  .comment-box,
  .reply-box {
    grid-gap: 1.5rem;
    padding: 1rem 1.2rem;
    grid-template-columns: auto 28% 28% 26%;
  }

  .reply-box {
    margin: 0 0 0 1.5rem;
  }

  .reply-box:first-of-type {
    margin: 1.5rem auto 0 1.5rem;
  }

  .votes {
    width: 2.5rem;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 3 / 2;
  }

  .votes :where(.plus, .minus) {
    padding: 1rem 0.8rem;
  }

  .user-details {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 2 / 2 / 4;
  }

  .actions {
    grid-area: 1 / 4 / 2 / 5;
  }

  .comment {
    width: 100%;
    grid-area: 2 / 2 / 4 / 5;
  }

  .input-box button {
    padding: 0.5rem 0.3rem;
  }

  .input-box {
    margin: auto;
    width: 43rem;
    border: 4px solid var(--light-gray);
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--opaq);
    backdrop-filter: blur(4px);
  }
}
